<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">
            <i class="fas fa-graduation-cap me-2"></i>Образовательная платформа
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/courses/">Курсы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lessons/">Уроки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/assignments/">Задания</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/simple/">Простая версия</a>
                </li>
            </ul>
            
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/profile/">
                            <i class="fas fa-user me-1"></i>Личный кабинет
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/logout/">
                            <i class="fas fa-sign-out-alt me-1"></i>Выйти
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/login/">
                            <i class="fas fa-sign-in-alt me-1"></i>Войти
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/register/">
                            <i class="fas fa-user-plus me-1"></i>Регистрация
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>